# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
.cargo

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
target/


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.

# Build files
*.tgz

# Project scripts
!scripts/**


# Test fixtures
!crates/stylex-path-resolver/fixtures/**/node_modules
!crates/stylex-path-resolver/fixtures/**/dist


#Dev containers
.pnpm-store