auto-install-peers=true
dedupe-peer-dependents=true
engine-strict=true
link-workspace-packages=deep
node-version=20.10.0
prefer-workspace-packages=true
resolve-peers-from-workspace-root=true
save-workspace-protocol=rolling
strict-peer-dependencies=false
use-lockfile-v6=true