/* StyleX CSS will be injected here */
@stylex;

:root {
  --brand-color: #663399;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, Helvetica, Arial, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
}

