name: Sync Dependencies

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
      - converted_to_draft
      - edited
    paths:
      - '**/package.json'
      - '**/pnpm-lock.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.event.ref }}
  cancel-in-progress: true

jobs:
  sync-dependencies:
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Setup pnpm
        uses: ./.github/actions/setup-pnpm

      - name: Git configure
        uses: ./.github/actions/gitconfig

      - name: Sync dependencies
        run: |
          pnpm syncpack fix

      - name: Commit changes if needed
        run: |
          if git diff --quiet -- '**/package.json'; then
            echo "No dependency changes detected"
            echo "changes_pushed=false" >> $GITHUB_OUTPUT
          else
            pnpm install --no-frozen-lockfile

            git add .
            git commit -m "fix(deps): sync dependencies" --no-verify
            git push
            echo "changes_pushed=true" >> $GITHUB_OUTPUT
          fi

      - name: Comment on PR
        if: steps.commit-changes.outputs.changes_pushed == 'true' # Only run if changes were pushed
        run: |
          gh pr comment ${{ github.event.pull_request.number }} --body "I've synchronized dependencies across the workspace to ensure consistency."
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
